<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .sticky-advert-top {
        position: fixed;        /* Makes the element sticky */
        top: 80px;               /* Aligns the element to the center of the viewport vertically */
        left: 50%;              /* Aligns the element to the center of the viewport horizontally */
        transform: translate(-50%, -50%); /* Centers the element based on its own dimensions */
        
        z-index: 10;            /* Ensures the element stays on top of other content */
    }
</style>

<div class="sticky-advert-top">
    <!-- JuicyAds v3.0 -->
        <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
        <ins id="1018585" data-width="728" data-height="102"></ins>
        <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1018585});</script>
    <!--JuicyAds END-->
</div>
