<link rel="stylesheet" href="../../site.css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="footer-bar">
    <div style="height: 80px; background-color: rgb(28,26,44);">
    </div>
    <div style="height:36px; width:100%;">
        <a href="/about">
            About
        </a>
        <a href="/termsofservice">
            Terms of Service
        </a>
    </div>
</div>