<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .footer-bar {
        margin-top: auto;
        width: 100%;
        display:block;
        background-color: var(--main-bg-color-darker);
        overflow: hidden;
        margin-bottom: 0px;
    }

    .footer-bar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Dimbo;
        box-sizing: border-box;
    }

    .footer-bar a:hover {
        background-color: rgba(166, 0, 255, 0.25);
    }
</style>

<div class="footer-bar">
    <div style="height: 80px; background-color: var(--main-bg-color)">
    </div>
    <div style="height:36px; width:100%; margin-left: 15%">
        <a href="/about">
            About
        </a>
        <a href="/termsofservice">
            Terms of Service
        </a>
    </div>
</div>