<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link src="../betasite.css">

<div class="footer-bar">
    <div>
        <a href="/about">
            About
        </a>
        <a href="/termsofservice">
            Terms of Service
        </a>
    </div>
</div>