<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .sticky-advert-side{
        position: sticky;      /* Makes the element sticky */
        top: 50%;              /* Aligns the element to the center of the screen vertically */
        left: 20%;             /* Keeps the element 20% away from the left side of the screen */
        transform: translateY(-50%); /* Adjusts the position to truly center it vertically */
    }
</style>

<center>
        <div class="sticky-advert-side">
            <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
                <ins id="1018586" data-width="160" data-height="612"></ins>
            <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1018586});</script>
        </div>
</center>