
/*
rgb	(255,163,26)
rgb (128,128,128)
rgb	(41,41,41)
rgb (27,27,27)
*/

:root {
    --main-bg-color: rgb(27,27,27);
}
                
@font-face {
    font-family: Dimbo;
    src: url('./dimbo-font/DimboRegular.ttf');
}

.progress { display: none; }

.hidden {
    display: none;
}

.uploader {
    width: 500px;
    height: 300px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #777;
}

* {
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128,128,128);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(41,41,41);
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 0, 155)
}

img {
    max-width: 100%
}

a {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 255, 255);
}

div {
    color: rgb(255, 255, 255);
}

label {
    color: rgb(255, 255, 255);
}

ul {
    color: rgb(255, 255, 255);
}

ol {
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Dimbo;
    box-sizing: border-box;
}

body {
    background-color: rgb(28,26,44);
}

input {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 0, 155, 0.115)
}

textarea {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 0, 155, 0.115)
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 0, 155, 0.115);
    padding: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2);
}

button:hover {
    background-color: rgb(187, 0, 255);
}



.showMoreForm{
    margin-bottom: 12px;
}



#myProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: grey;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgb(174, 11, 255);
}

#myProgressArt {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: grey;
}

#myBarArt {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgb(133, 11, 255);
}




.advert {
    width: 728px;
    height: 90px;
    background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 700px) {
    .advert {
        width: 90%;
        height: 90px;
        background-color: rgb(0, 0, 0);
    }
}





.navigation-bar {
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 1rem;
}

.navigation-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: Dimbo;
    box-sizing: border-box;
}

.navigation-bar a:hover {
    background-color: rgba(166, 0, 255, 0.25);
}


.navigation-bar textarea {
    transform: translateY(8px);
    padding: 0.6rem;
    width: 60%;
    display: inline-flex;
}

@media screen and (min-width: 700px) {
    .navigation-bar textarea {
        transform: translateY(8px);
        padding: 0.6rem;
        margin-left: 7px;
        width: 20%;
        display: inline-flex;
    }
}

@media screen and (min-width: 750px) {
    .navigation-bar textarea {
        transform: translateY(8px);
        padding: 0.6rem;
        margin-left: 7px;
        width: 30%;
        display: inline-flex;
    }
}

@media screen and (min-width: 900px) {
    .navigation-bar textarea {
        transform: translateY(8px);
        padding: 0.6rem;
        margin-left: 7px;
        width: 40%;
        display: inline-flex;
    }
}

.navigation-bar-right {
    float: right;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .navigation-bar a:not(:first-child) {display: none; float: left;}
    .navigation-bar a.icon {
        float: right;
        display: inline-flex;
        position: absolute;
        right: 8px;
        top: 10px;
    }
}

@media screen and (min-width: 700px) {
    .navigation-bar-right {
        float: right;
    }
}

/* The "responsive" class is added to the navigation-bar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
    .navigation-bar.responsive {position: relative;}
    .navigation-bar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}



.navigation-bar .icon {
    display: none;
}


.navigation-banner{
    text-decoration: none;
    transform: translateY(-10px);
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.367);
}

.navigation-banner-accent {
    transform: translateY(2px);
    height: 2px;
    vertical-align: bottom;
    width: 100%;
    background: rgb(144, 26, 255);
}


.page-left {
    background-color: rgb(54,28,88);
    float: left;
    margin-left: 20px;
    width: auto;
}

@media screen and (max-width: 800px) {
    .page-left {
        visibility: hidden;
        display: none;
        position: absolute;
    }
}

.page-right {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2);
    float: right;
    margin-right: 40px;
    width: 85%;
}

@media screen and (max-width: 1600px) {
    .page-right {
        width: 82%;
    }
}

@media screen and (max-width: 1300px) {
    .page-right {
        width: 79%;
    }
}

@media screen and (max-width: 1100px) {
    .page-right {
        width: 75%;
    }
}

@media screen and (max-width: 950px) {
    .page-right {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .page-right {
        width: 99%;
        margin-right: 0px;
    }
}

.artPost {
    width: 97%;
    margin: 4px;
    transform: translateX(-4px);
}

.artworkDate {
    font-size: small;
    float: right !important;
    margin-right: 4px;
}

.artworkTags {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: x-small;
    width: fit-content;
    text-decoration: none;
    padding: 4px;
    margin: 2px;
    margin-bottom: 0px !important;
}

.tag {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: x-small;
    width: fit-content;
    padding-right: 3px;
}

.artworkDescription {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: small;
    width: fit-content;
    padding: 4px;
    margin: 2px;
}

/* home page tabs */
.tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: rgb(52, 44, 81);
}
  
/* Style the buttons inside the tab */
.tab button {
    color:rgba(255, 255, 255, 0.702);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 17px;
    font-family: Dimbo;
    box-sizing: border-box;
    box-shadow: none;
}
  
/* Create an active/current tablink class */
.tab button.active {
    color:rgb(255, 255, 255);
}

/* Change background color of buttons on hover */
.tab button:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(112, 0, 152);
}
  
/* Style the tab content */
.tabcontent {
    background-color: rgb(54,28,88);
    display: none;
}

/* Style the tab content */
.tabcontentinner {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}

.home-profile-avatar {
    display: inline;
    align-items: center;
    justify-content: center;
    border: 3px ridge rgb(175, 26, 255);
    transform: translateY(11px) translateX(-8px);
}


#Art.tabcontent {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}

.art-details {
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 10px;
}

.art-details a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px
}

.art-gallery {
    display: flex;
    flex-direction:row;
    flex: auto;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.15);
}



.art-piece {
    margin: 2px;
    display: inline-flex;
    margin: auto;
    width: 49%;
    height: auto;

}

.art-piece-solo {
    margin: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: fit-content;

}

.art-below {
    text-decoration: none;
    display: block;
    width: 98%;
    font-size: 20px;
    margin-top: 0px !important;
}

.commentBox {
    size: 100%;
}

.comment {
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}

.comment-details {
    text-decoration: none;
    margin-top: 5px;
    margin-left: 10px;
}

#Games.tabcontent {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}

.game-container {
    display: flex;
    flex: 1 0 auto;
    width: 99%;
    height: 360px;
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.119);
    justify-content: center;
}

.game-thumbnail {
    margin: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: inherit;
}

.game-text {
    text-align: left;
    display: flex;
    font-size: 20px;
    margin-top: 340px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.442);
    position: absolute;
}




/* search page tabs */
.searchTab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    background-color: rgb(52, 44, 81);
}
  
/* Style the buttons inside the tab */
.searchTab button {
    color:rgba(255, 255, 255);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 4px;
    font-size: 17px;
    font-family: Dimbo;
    box-sizing: border-box;
    box-shadow: none;
}
  
/* Create an active/current tablink class */
.searchTab button.active {
    color:rgb(255, 255, 255);
}

/* Change background color of buttons on hover */
.searchTab button:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(112, 0, 152);
}


.searchUserBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}






.user-profile {
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.user-profile-container {
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
    padding-right: 2%;
}

.user-profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10%;
    max-height: 10%; 
    border: 3px ridge rgb(175, 26, 255);
}

.user-profile-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-left: 1%;
}

.user-profile-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
}

.upload-all {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}

.upload {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.15);
}



.notification {
    display: block;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 85%;
    padding: 2px;
    padding-bottom: 20px;
    margin: 12px;
    background-color: rgba(0, 0, 0, 0.15);
}






.footer-bar {
    margin-top: auto;
    width: 100%;
    display:block;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 0px;
}

.footer-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Dimbo;
    box-sizing: border-box;
}

.footer-bar a:hover {
    background-color: rgba(166, 0, 255, 0.25);
}