
<!DOCTYPE html>
<html>

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FFEW0Y6QFQ');
        </script>

        <title>About | NeverSFW.gg</title>

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://www.neversfw.gg/site.css"></link>
    </head>
    

    
    <body>
        <%- include('../partials/_nav'); -%>
        <%- include('../partials/_floatAdvert'); -%>

        <center>
            <h1>About NeverSFW</h1>
            <br>
            <a>NeverSFW is a project to give Artists, Animators and developers a place to share their nsfw art, animations and games without risk of their account being terminated!</a>
            <br>
            <br>
            <a>The project is headed by</a>
            <a href="https://neversfw.gg/user/Shadik"> Shadik</a>
            <a>and developed by</a>
            <a href="https://neversfw.gg/user/MiningP"> MiningP</a>
        </center>

        
        

        <%- include('../partials/_footer'); -%>
    </body>
</html>
