
<!DOCTYPE html>
<html>

    

    <head>
        <script>
            !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
            posthog.init('phc_D2Q9b1OpM8o89clRN0xvgYGatR9ZUTlqm01awV18yB9',{api_host:'https://app.posthog.com'})
        </script>

        <title>Login | NeverSFW.gg</title>

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://www.neversfw.gg/site.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    
    <body>
        <%- include('../partials/_nav'); -%>
        <%- include('../partials/_floatAdvert'); -%>

        
            <div class="background-25">
                <center>
                    <h1>Login</h1>
                    <form method="post" action="/login/">
                        <p></p>
                        <label>Username (4-20 Characters)</label>
                        <p></p>
                        <div>
                            
                            <input name="username" placeholder="Username" required>
                        </div>
                        <p></p>
                        <label>Password (7+ Characters)</label>
                        <p></p>
                        <div>
                            
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <p></p>
                        
                        <button>Login</button>
                        <p>By using our website and logging into an account, you agree to be bound by our <a href="https://www.neversfw.gg/termsofservice">Terms of Service</a></p>
                        
                        <p>Dont have an account yet? Click <a href="https://www.neversfw.gg/register">Here</a> to register!</p>
            
                    </form>
                    </center>
            </div>

        <%- include('../partials/_footer'); -%>
    </body>
</html>
