
<!DOCTYPE html>
<html>

    

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFEW0Y6QFQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FFEW0Y6QFQ');
        </script>

        <title>Register | NeverSFW.gg</title>

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://www.neversfw.gg/site.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    
    <body>
        <%- include('../partials/_nav'); -%>
        <%- include('../partials/_popunder'); -%>

        
            <div class="background-25">
                <center>
                    <h1>Register Account</h1>
                    <form method="post" action="/register/" autocomplete="off">
                        <p></p>
                        <label>Username (4-20 Characters)</label>
                        <p></p>
                        <div>
                            
                            <input autocomplete="off" name="username" placeholder="Username" required>
                        </div>
                        <p></p>
                        <label>Password (7+ Characters)</label>
                        <p></p>
                        <div>
                            
                            <input autocomplete="off" type="password" name="password" placeholder="Password" required>
                        </div>
                        <p></p>
                        <label>Email</label>
                        <p></p>
                        <div>
                            
                            <input autocomplete="off" name="email" placeholder="Email" required>
                        </div>
                        <p></p>
                        <button>Register</button>
                        <p>By using our website and creating an account, you agree to be bound by our <a href="https://www.neversfw.gg/termsofservice">Terms of Service</a></p>
            
                    </form>
                    </center>
            </div>

        <%- include('../partials/_footer'); -%>
    </body>
</html>
