
<!DOCTYPE html>
<html>

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFEW0Y6QFQ"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){dataLayer.push(arguments)}
            gtag('js', new Date())

            gtag('config', 'G-FFEW0Y6QFQ')
        </script>

        <title>Terms of Service | NeverSFW.gg</title>

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../site.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    
    <body>
        <%- include('../partials/_nav') -%>
        <%- include('../partials/_popunder') -%>

        <h1>NeverSFW Terms of Service</h1>
        <p>Last Modified: 21/4/2023</p>
        <br>

        <ol>
            <li>
                Registration and Accounts
                To use some features of our website, you must create an account. When you register, you must provide accurate and complete information. You are solely responsible for any activity that occurs on your account and you must keep your account password secure. You must notify us immediately of any breach of security or unauthorized use of your account.
            </li>
            <br>
            <br>
            <br>


            <li>
                Age Restriction
                You must be 18 years of age or older to use our website. By using our website, you represent that you are 18 years of age or older.
            </li>
            <br>
            <br>
            <br>


            <li>
                Uploads of Adult Art and Games
                Our website allows for the upload of adult art and games. By uploading any content, you represent and warrant that you have the right to do so, and that your content does not violate any laws or infringe on any third-party rights. We reserve the right to remove any content that we deem inappropriate or in violation of our terms of service, at our sole discretion.
                <br><br>
                <ul style="list-style: disc">
                    <li>
                        (When you submit your artwork to our website, you're giving us permission to use it. This permission is non-exclusive, royalty-free, transferable, and sub-licensable, meaning we can reproduce, distribute, display, and perform your artwork on our website or other platforms. This is used to promote both you and the website.)
                    </li>
                </ul>
            </li>
            <br>
            <br>
            <br>


            <li>
                Comments
                You are welcome to comment on posts on our website, but we reserve the right to remove any comments that we deem inappropriate or in violation of our terms of service, at our sole discretion.                
            </li>
            <br>
            <br>
            <br>


            <li>
                Prohibited Conduct
                You agree not to engage in any conduct that violates these terms of service or applicable laws or regulations. Prohibited conduct includes, but is not limited to, the following:

                <ol style="list-style: none">
                    <li>
                        <br>
                        5.1. Posting content that is abusive, defamatory, discriminatory, harassing, hateful, obscene, or vulgar.
                        <br>
                    </li>
                    <li>
                        <br>
                        5.2. Using our website to engage in any activity that is illegal or unethical.
                        <br>
                    </li>
                    <li>
                        <br>
                        5.3. Impersonating another person or entity.
                        <br>
                    </li>
                    <li>
                        <br>
                        5.4. Interfering with the operation of our website, including, but not limited to, introducing viruses or other harmful code, or using automated systems to access our website.
                        <br>
                    </li>
                    <li>
                        <br>
                        5.5. Collecting or harvesting any information from our website without our consent.
                        <br>
                    </li>
                    <li>
                        <br>
                        5.6. Engaging in any activity that violates the privacy or intellectual property rights of others.
                        <br>
                    </li>
                </ul>

            </li>
            <br>
            <br>
            <br>


            <li>
                Intellectual Property
                All content on our website, including but not limited to text, graphics, logos, images, and software, is the property of our website or its licensors and is protected by copyright and other intellectual property laws. You may not use or reproduce any content from our website without our express written permission.
            </li>
            <br>
            <br>
            <br>


            <li>
                Disclaimer of Warranties
                Our website is provided on an "as is" basis, and we make no warranties, express or implied, regarding its operation or the information, content, or materials contained therein. We disclaim all warranties, including, but not limited to, warranties of merchantability, fitness for a particular purpose, and non-infringement.                
            </li>
            <br>
            <br>
            <br>


            <li>
                Limitation of Liability
                To the fullest extent permitted by law, we shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our website or the content or materials contained therein, including, but not limited to, damages for loss of profits, use, data, or other intangible losses.                
            </li>
            <br>
            <br>
            <br>


            <li>
                Indemnification
                You agree to indemnify and hold us harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of these terms of service or your use of our website.                
            </li>
            <br>
            <br>
            <br>


            <li>
                Modification of Terms
                We reserve the right to modify these terms of service at any time. Your continued use of our website after any such modification shall constitute your acceptance of the modified terms.                
            </li>
            <br>
            <br>
            <br>


            <li>
                Governing Law
                These terms of service shall be governed by and construed in accordance with the laws of England and Wales. Any disputes arising out of or in connection with these terms of service or your use of our website shall be resolved through binding arbitration in accordance with the rules of the American Arbitration Association. The arbitration shall take place in courts of England and Wales, and the award rendered by the arbitrator shall be final and binding. You hereby waive any right to participate in any class action lawsuit or class-wide arbitration arising out of or in connection with these terms of service or your use of our website.     
            </li>
            <br>
            <br>
            <br>
            

            <li>
                Termination
                We reserve the right to terminate your account or restrict your access to our website at any time, for any reason, without notice to you. Upon termination, these terms of service shall also terminate, but all provisions that by their nature should survive termination (including, without limitation, the provisions regarding intellectual property, disclaimer of warranties, limitation of liability, and indemnification) shall continue in full force and effect.
            </li>
            <br>
            <br>
            <br>


            <li>
                Entire Agreement
                These terms of service constitute the entire agreement between you and our website with respect to your use of our website and supersede all prior or contemporaneous communications and proposals, whether oral, written, or electronic, between you and our website.
            </li>
            <br>
            <br>
            <br>


            <h2>
                If you have any questions or concerns regarding these terms of service, please contact us at neversfw.gg@gmail.com   
            </h2>
            
        </ol>

        <%- include('../partials/_footer') -%>
    </body>
</html>
