
<!DOCTYPE html>
<html>

    

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFEW0Y6QFQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FFEW0Y6QFQ');
        </script>

        <title>Upload | NeverSFW.gg</title>

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../site.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="../js/plupload.full.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>


    
    <body>
        <%- include('../partials/_nav'); -%>
        <%- include('../partials/_popunder'); -%>

        <center>
            <h1 style="font-size: xxx-large;">Uploading page</h1>
        </center>
        

        <div class="upload-all">
        
            <div class="upload">
                <center>
                    <h1 style="font-size: xxx-large;">Upload Artwork</h1>
                        <p></p>
                        <label style="font-size: xx-large;">Name</label>
                        <p></p>
                        <div>
                            <textarea name="artName" rows="2" cols="30"  placeholder="Artwork Name" required></textarea>
                        </div>
                        <p></p>
                        <label style="font-size: xx-large;">Tags (separate with: ,)</label>
                        <br>
                        <label style="color: red;">(if its created by an AI please disclose this with the: "ai-generated" tag!<br> otherwise your image may be removed!)</label>
                        <p></p>
                        <div>
                            <textarea name="tags" rows="3" cols="50" placeholder="scenery, character_name, character_pose, character_hair_colour" required></textarea>
                        </div>
                        <p></p>
                        <label style="font-size: x-large;">Description (Max 250 Characters)</label>
                        <br>
                        <label>(Not Required)</label>
                        <p></p>
                        <div>
                            <textarea name="description" rows="3" cols="50" placeholder="(Not required)"></textarea>
                        </div>
                        <p></p>
                        <label style="font-size: xx-large;">Art (Image/Video/Gif)</label>
                        <p></p>
                        <input type="file" id="browseArt" />
                        <ul id="filelistArt"></ul>
                        <div id="myProgressArt">
                            <div id="myBarArt"></div>
                        </div>
                        <p></p>
                        <button id="start-Art-upload">Upload Art</button>
                        <p></p>

                    </center>
            </div>

            <input name="accountId" value="<%=session.accountId%>" hidden>
            <p></p>

            <div class="upload">
                <center>
                    
                </center>
            </div>

        </div>

        <%- include('../partials/_footer'); -%>
    </body>


    <script>
        var artuploader = new plupload.Uploader({
            browse_button: 'browseArt',
            url: '/upload/',
            multi_selection: true,
            multipart: true,
            filters: {
                mime_types : [
                    { title : "Image/Video files", extensions : "webm,mp4,mov,jpg,gif,png,webp,jifi" },
                ],
                max_file_size: "5000mb",
            },
            multipart_params : {
                "artName" : '',
                "tags" : '',
                "description" : ''
            },
            chunk_size: '3500kb',
            max_retries: 999
        });

        artuploader.init();

        artuploader.bind('FilesAdded', function(up, files) {
            var html = '';
            plupload.each(files, function(file) {
                html += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
            });
            document.getElementById('filelistArt').innerHTML += html;
        });

        artuploader.bind('UploadProgress', function(up, file) {
            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                $('#myBarArt').css('width', file.percent + '%');    
        });

        artuploader.bind('Error', function(up, err) {
            console.log("Error #" + err.code + ": " + err.message);
        });

        artuploader.bind("BeforeUpload", function(up,file) {
            artuploader.settings.multipart_params = {artName : $('textarea[name="artName"]').val(), tags: $('textarea[name="tags"]').val(), description: $('textarea[name="description"]').val()};
        });

        artuploader.bind('UploadComplete', function(file) {
            $.ajax({
                type: "POST",
                url: '/artUploadComplete',
                success: function(response) {
                    window.location.href = `https://www.neversfw.gg/user/${response.username}`;
                }
            });
        })

        document.getElementById('start-Art-upload').onclick = function() {
            artuploader.start();
        };
    </script>

</html>
